<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>chat.voiceup.openfire.plugin.httpfileupload.HttpFileUploadPlugin</class>
    <name>HTTP Voice Message Upload Plugin</name>
    <description>Allows clients to upload voice messages, using the XEP-0363 'HTTP File Upload' specification.</description>
    <author>Nikola Sobadjiev</author>
    <version>${project.version}</version>
    <date>11/04/2020</date>
    <minServerVersion>4.1.0</minServerVersion>
</plugin>
